<hr />
<div id="giscus"></div>
<script src="https://giscus.app/client.js"
    data-repo="{{ site.comments.giscus.data-repo }}"
    data-repo-id="{{ site.comments.giscus.data-repo-id }}"
    data-category="{{ site.comments.giscus.data-category }}"
    data-category-id="{{ site.comments.giscus.data-category-id }}"
    data-mapping="{{ site.comments.giscus.data-mapping }}"
    data-strict="{{ site.comments.giscus.data-strict }}"
    data-reactions-enabled="{{ site.comments.giscus.data-reactions-enabled }}"
    data-emit-metadata="{{ site.comments.giscus.data-emit-metadata }}"
    data-input-position="{{ site.comments.giscus.data-input-position }}"
    data-theme="{{ site.comments.giscus.data-theme }}"
    data-lang="{{ site.comments.giscus.data-lang }}"
    crossorigin="{{ site.comments.giscus.crossorigin }}"
    async>
</script>
<noscript>Please enable JavaScript to view the comments powered by Giscus.</a></noscript>
