/* ==========================================================================
   Breadcrumb navigation
   ========================================================================== */

.breadcrumbs {
  @include row;
  margin-top: $gutter;
  font-family: $alt-font;
  @include font-size(14,no);
  letter-spacing: 1px;
  a {
    display: inline-block;
    // font-weight: 700;
    text-align: left;
    text-transform: lowercase;
  }
}
